.movies-cardlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: #fff;
}

.movies-cardlist__container {
  width: 100%;
  margin: 0;
  padding: 80px 70px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 59px;
  justify-content: center;
  justify-items: center;
  box-sizing: border-box;
  list-style: none;
  box-sizing: border-box;
  background-color: #fff;
}

.movies-cardlist__button {
  box-sizing: border-box;
  padding: 0;
  width: 320px;
  height: 36px;
  background-color: #f9f9f9;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: normal;
  color: #000;
  margin: 46px 0 80px;
  border-radius: 6px;
  transition: color 0.4s ease-in, background-color 0.4s ease-in;
}

.movies-cardlist__button_hidden {
  display: none;
}

.movies-cardlist__button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .movies-cardlist__container {
    grid-column-gap: 30px;
    grid-row-gap: 36px;
  }
}

@media screen and (max-width: 930px) {
  .movies-cardlist__container {
    padding: 80px 30px 30px;
    grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
    grid-row-gap: 50px;
  }
}

@media screen and (max-width: 930px) {
  .movies-cardlist__container {
    grid-row-gap: 47px;
  }

  .movies-cardlist__button {
    margin: 50px auto 80px;
  }
}

@media screen and (max-width: 650px) {
  .movies-cardlist__container {
    padding: 40px 0 30px;
  }
}

@media screen and (max-width: 425px) {
  .movies-cardlist__container {
    grid-row-gap: 16px;
    padding: 50px 10px 30px;
    gap: 39px;
  }

  .movies-cardlist__button {
    width: 240px;
  }
}
